.cbb{
      display: flex;
      justify-content: end;
      align-items: end;
      margin: 15px;
      font-size: 20px;
      border-radius: 10px 10px 10px 10px;
}
.textproduct{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.textname{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.price {
    font-size: 13px;
    color: black;
    font-weight: 550;
}

.giaGoc {
    font-size: 12px;
    color: gray;
}