.image-banner {
    max-width: 100%;
    margin: auto;
}

.image-product {
    max-width: 100%;
}

.col-md-3 {
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.col-md-3:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.col-md-4 {
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.col-md-4:hover {
    transform: translateY(-5px);
}

.card {
    border: none;
    height: 400px;

}
.row{
 margin: 20px;
 border: none;
}
.card-text{
    font-size: 25px;
    color: #EF5A6F;
    font-weight: 600;
}
