.thongke {
    height: 180px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;

}

.textP {
    margin: 10px;
    font-size: 13px;
    color: black;
}

strong {
    font-size: 35px;
}

